@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: -webkit-linear-gradient(left, #63a16d, #79adbe);
}

h1 {
  margin-bottom: 8%;
  text-align: center;
  color: #000000;
  letter-spacing: 0.1em;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background:#fff;
  padding:0 10px;
}

input {
  margin-bottom: 3%;
}

input:last-of-type {
  margin-bottom: 0;
}

input, button {
  padding: 3%;
  width: 100%;
}

.login-container {
  background-color: white;
  padding: 7%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40vw;
  margin-left: 30vw;
  height: 50vh; /* Reduced height for simplicity */
  margin-top: 20vh; /* Adjusted margin-top for positioning */
}

#reset-submit {
  border: none;
  background-color: darkseagreen;
  margin-top: 5%;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#create-acct {
  display: none;
}

#return-login {
  color: lightgray;
  text-decoration: underline;
  margin-top: 3%;
  display: block; /* Ensures the link takes up full width */
  text-align: center; /* Centers the link */
}
