@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #9fd0a7, #98d0e1);
}

.container {
  text-align: center;
}

button {
    border: none;
    color: white;
    padding: 4px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #08be7b;
    color: black;
    border: 2px solid #04AA6D;
}

.button:hover {
  background-color: darkgreen;
}

#schedule {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
